@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Slackey-Regular";
  src: url("../public/fonts/Slackey-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
